.right-column-wrapper>.log-in-btn button {
    border: 2px solid #5f99cf;
    border-radius: 20px;
    background: white;
    font-size: 16px;
    padding: 10px 30px;
    font-weight: 400;
    color: #5f99cf;
}

.right-column-wrapper>.sign-up-btn button {
    border: 2px solid white;
    border-radius: 20px;
    background: #5f99cf;
    font-size: 16px;
    padding: 10px 30px;
    font-weight: 400;
    color: white;
}

.join-wrapper button {
    border: 2px solid white;
    border-radius: 20px;
    background: #ff4500;
    font-size: 16px;
    padding: 5px 20px;
    font-weight: 400;
    color: white;
}

.live {
    border: 2px solid white;
    border-radius: 20px;
    background: #ff4500;
    font-size: 16px;
    padding: 2px 5px;
    font-weight: 400;
    color: white;
}

.hot {
    border: 2px solid transparent;
    border-radius: 20px;
    background: white;
    font-size: 16px;
    padding: 2px 5px;
    font-weight: 400;
    color: #ff4500;
}

.hot button:hover {
    border: 2px solid transparent;
    border-radius: 20px;
    background: #F6F7F8;
    font-size: 16px;
    padding: 2px 5px;
    font-weight: 400;
    color: #ff4500;
}

.new {
    border: 2px solid transparent;
    border-radius: 20px;
    background: white;
    font-size: 16px;
    padding: 2px 5px;
    font-weight: 400;
    color: grey;
}

.new button:hover {
    border: 2px solid transparent;
    border-radius: 20px;
    background: #F6F7F8;
    font-size: 16px;
    padding: 2px 5px;
    font-weight: 400;
    color: grey;
}

.top {
    border: 2px solid transparent;
    border-radius: 20px;
    background: white;
    font-size: 16px;
    padding: 2px 5px;
    font-weight: 400;
    color: grey;
}

.top button:hover {
    border: 2px solid transparent;
    border-radius: 20px;
    background: #F6F7F8;
    font-size: 16px;
    padding: 2px 5px;
    font-weight: 400;
    color: grey;
}

.dots {
    border: 2px solid transparent;
    border-radius: 20px;
    background: white;
    font-size: 16px;
    padding: 5px 7px;
    font-weight: 400;
    color: grey;
}

.dots button:hover {
    border: 2px solid transparent;
    border-radius: 20px;
    background: #F6F7F8;
    font-size: 16px;
    padding: 5px 7px;
    font-weight: 400;
    color: grey;
}



